<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Product.wxs ?>
  <Fragment>
    <ComponentGroup Id="License">
      <Component Id="cmpF3132CC006A328E45F7BA65CBF415C7A" Directory="INSTALLLOCATION" Guid="{1A0E7776-ACD4-4579-86DD-469D806C2529}">
        <File Id="fil67B53B28C451C3B8E5FCD0FEB6472C51" KeyPath="yes" Source="$(var.VirtusProjectRoot)\COPYING"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>