<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Product.wxs ?>
    <Patch AllowRemoval="yes"
        Manufacturer="Rambler Internet Holding LCC" 
        DisplayName="$(var.product_name) обновление" 
        Description="$(var.product_name) обновление" 
		Codepage="windows-1251"
        Classification="Update">
 
		<Media Id="5000" Cabinet="Product.cab">
            <PatchBaseline Id="RTM"/>
        </Media> 
    </Patch>
 </Wix>