<Include>                              	 	 
  <?define virtus_version="0.2.1.879" ?>    		
  <?define VirtusProjectRoot="C:/rambler/virtusdesktop/trunk/install/source/0.2.1.879" ?> 	
  <?define VirtusImageformatsRoot="$(var.VirtusProjectRoot)/imageformats" ?>
  <?define VirtusPluginsRoot="$(var.VirtusProjectRoot)/plugins" ?>
  <?define VirtusResourcesRoot="$(var.VirtusProjectRoot)/resources" ?>
  <?define VirtusTransaltionsRoot="$(var.VirtusProjectRoot)/translations" ?>
  <?define product_name="Рамблер-Контакты" ?>
</Include>