  <?define VirtusImageformatsRoot="$(var.VirtusProjectRoot)/imageformats" ?>
  <?define VirtusPluginsRoot="$(var.VirtusProjectRoot)/plugins" ?>
  <?define VirtusResourcesRoot="$(var.VirtusProjectRoot)/resources" ?>
  <?define VirtusTranslationsRoot="$(var.VirtusProjectRoot)/translations" ?>
  <?define product_name="Рамблер-Контакты" ?>
  <?define product_name_short="Контакты" ?>	
  <?define product_name_en="Rambler-Contacts" ?>
</Include>