  <?define VirtusImageformatsRoot="$(var.VirtusProjectRoot)/imageformats" ?>
  <?define VirtusPluginsRoot="$(var.VirtusProjectRoot)/plugins" ?>
  <?define VirtusResourcesRoot="$(var.VirtusProjectRoot)/resources" ?>
  <?define VirtusTransaltionsRoot="$(var.VirtusProjectRoot)/translations" ?>
  <?define product_name="Рамблер-Контакты" ?>
</Include>