<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Product.wxs ?>
  <Fragment>
    <ComponentGroup Id="Voip">
      <Component Id="VoIPMedia" Directory="INSTALLLOCATION" Guid="{33AC3C58-900D-4827-AE95-0DF0DDEDE2E0}">
        <File Id="VoIPMediaFile" KeyPath="yes" Source="$(var.VirtusProjectRoot)\VoIPMedia.dll"/>
      </Component>
      <Component Id="VoIPVideoLib" Directory="INSTALLLOCATION" Guid="{48DBA75B-D798-4ffd-8288-9CF62098CBF4}">
        <File Id="VoIPVideoLibFile" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\VoIPVideoLib.dll"/>
      </Component>
      <Component Id="SWSCale" Directory="INSTALLLOCATION" Guid="{401578D5-005B-4e11-B904-69F31D47BE84}">
        <File Id="SWSCaleFile" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\swscale-0.dll"/>
      </Component>
      <Component Id="SipProtocol" Directory="INSTALLLOCATION" Guid="{F6DBDDC2-C11F-4046-A9D7-2EE79EF7ADE8}">
        <File Id="SipProtocolFile" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\SipProtocol.dll"/>
      </Component>
      <Component Id="LibSpeex" Directory="INSTALLLOCATION" Guid="{50A252E2-632F-4b67-A25E-54EDCAE33309}">
        <File Id="LibSpeexFile" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\libspeex.dll"/>
      </Component>
      <Component Id="LibSpeexDsp" Directory="INSTALLLOCATION" Guid="{5DB43C96-4C66-48c7-A0EF-0D6428C6231E}">
        <File Id="LibSpeexDspFile" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\libspeexdsp.dll"/>
      </Component>
      <Component Id="LibOgg" Directory="INSTALLLOCATION" Guid="{DFD381D7-7952-4c95-956C-320E487D774D}">
        <File Id="LibOggFile" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\libogg.dll"/>
      </Component>
      <Component Id="avcodec52" Directory="INSTALLLOCATION" Guid="{FE0672DA-E497-4ff7-A93E-3E16B645A42F}">
        <File Id="avcodec52File" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\avcodec-52.dll"/>
      </Component>
      <Component Id="avcore0" Directory="INSTALLLOCATION" Guid="{41B4738E-87A3-45fe-9871-21EF024D6798}">
        <File Id="avcore0File" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\avcore-0.dll"/>
      </Component>
      <Component Id="avdevice52" Directory="INSTALLLOCATION" Guid="{C0FC8E1D-8040-46d9-87AC-722F24A67392}">
        <File Id="avdevice52File" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\avdevice-52.dll"/>
      </Component>
      <Component Id="avfilter1" Directory="INSTALLLOCATION" Guid="{A51F082A-2D4F-4b0d-BDAA-086001FFDD37}">
        <File Id="avfilter1File" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\avfilter-1.dll"/>
      </Component>
      <Component Id="avformat52" Directory="INSTALLLOCATION" Guid="{39BBC204-4E8A-44a3-8AB0-7600023D476D}">
        <File Id="avformat52File" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\avformat-52.dll"/>
      </Component>
      <Component Id="avutil50" Directory="INSTALLLOCATION" Guid="{84E6F9B6-A595-42bc-A8C3-1C2D7B6F5EFA}">
        <File Id="avutil50File" 
              KeyPath="yes" 
              DefaultLanguage="1033"
              Source="$(var.VirtusProjectRoot)\avutil-50.dll"/>
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>