/* background */

MainWindow
{
	background-color: rgba(65, 70, 77, 235);
}

#upperWidget, #rostersWidget, #bottomWidget, #noticeWidget, #StatusWidgetClass, #searchFrame
{
	background-color: transparent;
}

/************
 * QToolBar *
 ************/

QToolBar
{
	border: 0px solid transparent;
	padding: 2px;
	spacing: 2px;
	background-color: transparent;
}

