QLabel#lblName
{
	font-size: 18px;
} 

QLabel#lblStatusText
{
	color: #acacac;
	font-size: 11px;
}

QLabel#lblStatusName
{
	font-size: 13px;
}

QFrame#frmContents,
QWidget#wdtMetaItems,
QWidget#wdtMetaItems QWidget
{
	background-color: transparent;
}
