QWidget#wdtContents
{
	background-color: white;
}

AddMetaItemPage QWidget
{
	background-color: transparent;
}

CustomLabel#lblInfo,
CustomLabel#lblError
{
	color: black;
	qproperty-shadow: 0;
}

QPushButton#pbtAppend
{
	margin-top: 5px;
}
