QTreeView#trvNodes
{
	border : none;
	background-color: palette(window);
}
QTreeView#trvNodes::item
{
	min-height : 32px;
	background-color: palette(window);
} 
QTreeView#trvNodes::item:selected
{
	border : 1px solid palette(shadow);
	background-color: palette(base);
}

QWidget#wdtNodeWidget
{
	background-color: palette(base);
}
