QDialog
{
	background-color: rgba(65, 70, 77, 250);
}

QWidget#wdtPageAddress, QWidget#wdtPageConfirm, QWidget#wdtPageParams, QWidget#wdtSelectProfile, QWidget#wdtConfirmAddresses, QWidget#wdtProfiles
{
	background-color: transparent;
}

QLabel#lblCaption
{
	font-size: 18px;
}
