HtmlToolButton:pressed
{
	top: 0px;
	left: 0px;
}

HtmlToolButton[popupMode="1"]
{
	padding-right: 20px;
}

HtmlToolButton[popupMode="1"]:open
{
	padding-top: 0px;
	padding-left: 0px;
}

HtmlToolButton[popupMode="2"]
{
	padding-right: 10px;
}

HtmlToolButton[popupMode="2"]:open
{
	padding-top: 0px;
	padding-left: 0px;
}

QLabel#lblMood
{
	padding-left: 2px;
	color: #72797f;
}
QLabel#lblMood:hover
{
	border: 2px solid rgba(50, 50, 150, 200);
}
