QWidget 
{
	background-color: transparent;
}

QWidget#wdtBackground
{
	background-color: rgba(22, 22, 22, 240);
}

QWidget#wdtVideo 
{
	background-color: black;
}

VideoFrame
{
	color: white;
}

QToolButton#tlbFullScreen
{
	border: none;
	padding: 0px;
	border-image: none;
	background-color: transparent;
}
