QLabel#captionLabel
{
	font-size: 18px;
	margin-top: 5px;
}

QLabel#captionLabel,
QLabel#infoLabel,
QLabel#descrLabel
{
	margin-left: 6px;
}

QLineEdit
{
	margin-left: 6px;
	margin-right: 4px;
	margin-top: 2px;
	margin-bottom: 8px;
}