body {
    background: #ffffff;
    font-family: Arial;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}

.status {
    font: 11px/18px Arial; color: #a6a6a6;
    text-align: center;
}

.history_show, .history_request { background: none !important; text-align: center; font: 11px/14px Arial; }
.history_show a {
    background: transparent url("images/bulletSprites.png") no-repeat right -197px;
    padding-right: 13px;
    margin-bottom: 6px;
}

    .history_request a {
        text-decoration: none;
        border-bottom: 1px dotted #348cfb;
        margin-bottom: 6px;
    }
    
        .history_request a:hover {
            border: 0;
    }
.date_separator {
    text-align: right;
    font: 11px/34px Arial;
    color: #a6a6a6;
    margin-right: 4px;
}


a { color: #348cfb; }

p { margin: 0; }

img { border: 0; margin: 0; }

table { width: 100%; vertical-align: top; border-collapse: collapse; }

td { padding: 0; vertical-align: top; }

strong { color: #666666; }



/* Message */

.message { width: 100%; display: block; border-top: 1px dotted #cccccc; }
.txt {
    display: block;
    overflow-x: hidden !important;
}


.outcominMessage,
.incominMessage {
    padding-bottom: 6px !important;
    float: left;
    clear: both;
    width: 100%;
    background-color: #FFFFFF;
    font: 12px/14px Arial;
    color: #000000;
}

    .blue { /*background: #f5faff url("images/blueBackground.jpg") repeat-x 0 bottom !important;*/
        background-color: #FFFFFF;    
    }

    .orange  { background: #fffefd url("images/orangeBackground.jpg") repeat-x 0 bottom !important; }
    .blue, .orange { border-bottom: 1px dotted #cccccc; }

.firstMsg { padding-top: 4px; width: 100%; }

.avatar { width: 34px; }
.avatar img { width: 30px; margin: 2px 4px 0 2px; }

.wp { padding-right: 50px; position: relative; display: block; }
.time { font-size: 10px; position: absolute !important; right: 4px; bottom: 0; color: #a6a6a6; }


.del { position: relative; padding: 0; margin: 0 0 -32px 0; height: 16px; }
    .delCont .outcominMessage,
    .delCont .incominMessage { padding-top: 12px; }
    .delCont .blue, .delCont .orange { background: #f0f0f0 !important; }

    
.delButton {
        position: absolute !important;
        top: 0;
        right: 0;
        width: 100%;
        text-align: left;
        margin: 0;
}


.del { margin-bottom: -15px; position: relative; }
    .delCont .del {margin-bottom: 0;}
.errMsg { margin-left: 36px; font-size: 11px; color: #666666; }
    .delCont .del .errMsg { margin-left: 0 !important; }
    
.del .txt {margin-bottom: 5px;}

    


.clouse { background: transparent url("images/bulletSprites.png") no-repeat 0 -100px;
    display: block;
    width: 11px;
    height: 11px;
    text-indent: -10000px;
    position: absolute !important;
    top: 5px;
    right: 4px;
    z-index: 100;
}
.clouse:hover { background: transparent url("images/bulletSprites.png") no-repeat 0 0; }


